.heading 
{
    font-family: sans-serif;
    color: #250c0c;
    text-align: center;
    margin-top: 1%;
    font: bold;
}


.loginpage
{
    background-color: black;

}

.btn
{
    width: 25%;
    font-size: 1.2rem;
    
}
.btn :hover
{
    color: white;
    background-color: black;
}

.btn1
{
    width: 5rem;
    font-size: 1.2rem;
    
}